    <ul>
        {{#todos}}
        <li class="rounded border p-4 my-4 last:mb-0">
        {{#link_to}}todos/{{id}}{{/link_to}}
        <h1 class="text-md">{{title}}</h3>
        <h1 class="">Completed:
        {{#completed}}Yes{{/completed}}
        {{^completed}}No{{/completed}}
        </h1>
        <h2 class ="todo-meta">{{created_at}}</h2>
        <h2 class ="todo-meta">{{updated_at}}</h2>
        </li>
        {{/todos}}
    </ul>
